.text-field {
    -fx-text-fill: white;
    -fx-border-radius: 5;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.add-article-field {
    -fx-background-color: #333232;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}